[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
chainlit = "*"
langchain = "*"
chromadb = "*"
pypdf = "*"
tiktoken = "*"
arxiv = "*"

[dev-packages]

[requires]
python_version = "3.9"
